@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
:root {
  --color-enfasis: #FF0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 16px;
}

html.sr .load-hidden {
  visibility: hidden;
}

/* *********************/
/* seccion I N I C I O */
/* *********************/
#inicio header a {
  text-decoration: none;
}
#inicio header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
#inicio header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#inicio header .contenido-header h1 {
  text-align: center;
  color: var(--color-enfasis);
}
#inicio header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
#inicio header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}
#inicio header .contenido-header nav ul li a:hover {
  color: var(--color-enfasis);
}
#inicio header .contenido-header .redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}
#inicio header .contenido-header .redes a:hover {
  color: var(--color-enfasis);
}
#inicio header .contenido-header .seleccionado {
  color: var(--color-enfasis);
}
#inicio header #icono-nav {
  color: #fff;
  display: none;
}

/* *********************/
/* seccion H E R O */
/* *********************/
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/img/bg.jpg");
  background-size: cover;
  background-position: center center;

  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#hero h1.bienvenida{
  font-size: 1rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .32rem;
}
#hero h2.bienvenida{
  font-size: 1.25rem;
  margin-bottom: .32rem;
  text-align: center;
}
#hero h2.bienvenida span{
  font-size: 3.4375rem;
  color: var(--color-enfasis);
}
#hero h3.bienvenida{
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  text-align: center;
}
#hero .container{
  max-width: 68.75rem;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: row;
  gap:3rem;
  align-items: center;
  
}
#hero .container .descripcion {
  max-width: 34rem;
  margin: 2rem auto;
  line-height: 2.2rem;
  font-size: 1rem;
  text-align: center;
}
/* Slideshow container */
#hero .container #slideshow {
  max-width: 34.375rem;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Hide the images by default */
#hero .container #slideshow .mySlides {
  display: none;
}
/* Caption text */
#hero .container #slideshow div {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
#hero .container #slideshow .text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: .5rem .75rem;
  margin-top: -2.4rem;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
#hero .container #slideshow .dot {
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  margin: 0 0.125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#hero .container #slideshow .active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
#hero .container #slideshow .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#hero a {
  text-decoration: none;
  display: inline-block;
  margin: 1.5rem auto;
  padding: 1.25rem 1.5rem;
  border: 0.125rem solid #fff;
  border-radius: .5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
#hero a:hover {
  background-color: var(--color-enfasis);
}
/* *********************/
/* seccion FLOATING BUTTON */
/* *********************/
#linkedin {
  position: fixed;
  top:45rem;
  right: 2rem;
  filter: drop-shadow(0 .0625rem .25rem rgba(0,0,0,.5));
}
#linkedin i{
  font-size: 3rem;
  color:#0A66C2;
}

#whatsapp {
  position: fixed;
  top:50rem;
  right: 2rem;
  filter: drop-shadow(0 .0625rem .25rem rgba(0,0,0,.5));
  animation: pulse 2s infinite;
  
}
#whatsapp i{
  font-size: 3rem;
  color:#25D366;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}

/* *********************/
/* S E C C I O N E S */
/* *********************/

#servicios, #skills, #portfolio, #contacto {
  padding: 50px 15px 50px;
  text-align: center;
  background-color: #f3f3f3;
}
.titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: var(--color-enfasis);
  text-decoration-thickness: 5px;
  margin-bottom: 3rem;
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/
#sobremi {
  max-width: 1100px;
  margin: auto;
  margin-bottom: 50px;
  padding: 80px 15px 20px;
  color: #111135;
  display: flex;
  background-color: white;
}
#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}
#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}
#sobremi .sobremi {
  margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: var(--color-enfasis);
  text-decoration-thickness: 5px;
}
#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}
#sobremi .sobremi h2 span {
  color: var(--color-enfasis);
}
#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}
#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 10px 20px;
  margin-top: 30px;
  transition: 0.5s;
}
#sobremi .sobremi a:hover {
  background-color: var(--color-enfasis);
  border:1px solid #fff;
  color: #fff;
  font-weight: bold;
}

/* *********************/
/* seccion S E R V I C I O S */
/* *********************/
#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0px auto;
}
#servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 8px;
  transition: 0.5s;
}
#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#servicios .fila .servicio .icono {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 30px;
  margin-bottom: 25px;
}
#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 20px;
}
#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}
#servicios button.masServicios{
  width: 100%;
  margin:2rem auto .5rem;
  background-color:  #d3d3d3;
  border: 1px solid red;
  padding: .5rem 2rem;
  border-radius: .25rem;
  font-size: 1.75rem;
  font-weight: 900;
  color:red;
}
#servicios button.masServicios:hover {  
  /* background-color:red ; */
  /* border: 1px solid#fff;   */
  /* color:#fff; */
  cursor: pointer;
}

/* *********************/
/* seccion P O R T F O L I O */
/* *********************/
#portfolio {
  background-color: white;
}
#portfolio .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#portfolio .image {
  margin: .75rem;
  width: 400px;
  height: 225px;
  overflow: hidden;
}
#portfolio .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: transform 0.5s;
}
#portfolio .image:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}
#portfolio .image .info {
  position: relative;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: .75rem;
  color: #fff;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  bottom: 0px;
  transition: 1s;
}
#portfolio .image:hover .info{
  opacity:1;
  bottom:3.8rem;
}

/* *********************/
/* seccion C O N T A C T O */
/* *********************/
#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}
#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
  width: 48%;
}
#contacto .contenedor-form .input-full {
  width: 100%;
}
#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  border: #111135;
  padding: 10px 15px !important;
}
#contacto .btn-enviar:hover {
  background-color: var(--color-enfasis);
  border: #919191;
  color: #000;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}
footer #copyright {
  font-size: 0.75rem;
  color: #919191;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
  /* seccion INICIO */
  #inicio header nav {
    display: none;
  }  
  #inicio header nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 10px 0;
  }
  #inicio header nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  #inicio header nav.responsive ul li {
    margin: 5px 0;
  }
  #inicio header #icono-nav {
    display: block;
  }
  #inicio header .redes {
    display: none;
  }
  /* seccion HERO */
  #hero{
    padding: 2rem 1rem 1rem;
  }
  #hero h1.bienvenida{
    margin-top: 4rem;
    margin-bottom: 1.25rem;    
  }
  #hero h2.bienvenida{
    margin-bottom: .32rem;
  }
  #hero h2.bienvenida span{
    font-size: 2.5rem;
  }
  #hero h3.bienvenida{
    font-size: 1.75rem;
    margin-bottom: .5rem;
  }
  #hero .container {
    flex-direction: column !important;
    margin: 0 auto;
    gap:.5rem;
  }
  #hero .container .descripcion {
    max-width: 34rem;
    margin: 1rem auto;
    line-height: 2.2rem;
    font-size: 1rem;
    text-align: center;
  }
  /* seccion SOBRE MI */
  #sobremi {
    padding: 50px 0 0;
    display: block;
  }
  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobremi .sobremi h2 {
    font-size: 25px;
    text-align: center;
  }
  /* seccion MIS SERVICIOS */
  #servicios {
    padding: 50px 15px 20px;
  }
  #servicios .fila {
    display: block;
  }
  #servicios .fila .servicio {
    margin: 10px auto;
  }
  /* seccion PORTFOLIO */


  /* seccion CONTACTO */
  #contacto {
    padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}



